<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>com.truecontext.ProntoForms</p>
    <ion-button (click)="query('com.truecontext.prontoforms')">Query</ion-button>
    <ion-button (click)="open('com.truecontext.prontoforms')">Open</ion-button>

    <!-- <p>Twitter</p>
    <ion-button (click)="query('twitter')">Query</ion-button>
    <ion-button (click)="open('twitter')">Open</ion-button>

    <p>com.atebits.Tweetie2</p>
    <ion-button (click)="query('com.atebits.tweetie2')">Query</ion-button>
    <ion-button (click)="open('com.atebits.tweetie2')">Open</ion-button> -->
  </div>
</ion-content>